target/
out/
.gradle/
.gradletasknamecache
.idea/
logs/
classes/
build/
!buildSrc/**/*
buildSrc/build/
buildSrc/.gradle
buildSrc/.idea
node_modules/
.bowercache
atlassian-ide-plugin.xml

*.ipr
*.iml
*.iws
*.log
*.orig
*.class
.DS_Store

plugin.xml
pom.xml
pom.xml.sha1
grails-*.zip
grails-*.zip.sha1

web-app/vendor/
web-app/css/

