<h2 id="guests-title">Guests</h2>
<a id="back_button" class="btn btn-primary upper_right_button" ng-click="goBack()">Back</a>
<div id="list" class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Visiting</th>
                    <th>Signed In</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="guest in activeGuests">
                    <td class="col-xs-2">{{guest.name}}</td>
                    <td class="col-xs-2">{{guest.company}}</td>
                    <td class="col-xs-4 visiting">{{guest.visitedEmployee.firstName}} {{guest.visitedEmployee.lastName}}</td>
                    <td class="col-xs-2 time">{{guest.checkinTime | date: 'MMM dd, yyyy @ h:mm a'}}</td>
                    <td class="col-xs-2"><button type="button" class="btn btn-primary btn-xs" ng-click="checkout(guest.id)">Sign out</button></td>
                </tr>
            </tbody>
        </table>
</div>
<a href="javascript:void();" ng-click="manageEmployees()">Manage</a>